<div class="sidebar">
  <div class="sidebar_stratas">
    <div class="sidebar_label">
        <i class="fas fa-heart fa-2x sidebar_heart"></i>
        <p>Stratas</p>
    </div>
    <div class="sidebar_stratas_data">
      <div class="sidebar_favourite_stratas">
      </div>
    </div>
  </div>
  
  <div class="sidebar_units">
    <div class="sidebar_label">
      <i class="fas fa-heart fa-2x sidebar_heart"></i>
      <p>Units</p>
    </div>
    <div class="sidebar_units_data">
      <div class="sidebar_favourite_units">
      </div>
    </div>
  </div>

</div>

