<%- include("partials/header") %>
  <h1>Welcome! John</h1>
  <% for (let i = 0; i < 5; i++) { %>
    <li><%= i %></li>
  <% } %>
  <% if (true) { %>
    <!-- <img
      src="./images/flower.jpeg"
      height="500px"
    > -->
  <% } %>

<%- include("partials/footer") %>