@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches|Thasadith');
@import url('reset.css');

/* colors:
#213352 - dusty medium blue
#242933 - grey
#020305 - black
#072252 - dark blue
#3F629E - light blue*/

html,
body {
  height: 100%;
  background: #3F629E;
  /* required for min-height: 100% to work on the header; alternatively, you could use min-height: 100vh; */
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

body {
  font-family: 'Thasadith', sans-serif;
  padding: 20px 50px;
}

p {
  color: white;
  font-size: 20pt;
}

.p2 {
  color: white;
  font-size: 14pt;
}

.h0 {
  margin-top: 0;
  font-size: 10.052em;
  font-family: 'Staatliches', cursive;
  color: white;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h1 {
  margin-top: 0;
  font-size: 8.052em;
  font-family: 'Staatliches', cursive;
  color: white;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h2 {
  font-size: 4.441em;
  font-family: 'Staatliches', cursive;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h3 {
  font-size: 3.453em;
  font-family: 'Staatliches', cursive;
  -webkit-text-fill-color: #072252; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

h4 {
  font-size: 2.863em;
  font-family: 'Staatliches', cursive;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h5 {
  font-size: 1.95em;
  font-family: 'Staatliches', cursive;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

small,
.text_small {
  font-size: 0.8em;
}
/* chess */
/* .chessboard {
  width: 640px;
  height: 640px;
  margin: 20px;
} */
/* .black {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #999;
    font-size:50px;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;  
  vertical-align:middle;
} */
/* .white {
  
  float: left;
  width: 80px;
  height: 80px;
  background-color: #fff;
  font-size:50px;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align:middle;
} */

.game_navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar_left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.fa-dice {
  color: white;
  margin: 0 20px 0 0;
}

.game_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game_button {
  margin: 30px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-repeat:no-repeat; 
  background-size: contain;
}

.stacked_index_button_label {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.index_sudoku_button {
  background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Sudoku_Puzzle_by_L2G-20050714_standardized_layout.svg/1200px-Sudoku_Puzzle_by_L2G-20050714_standardized_layout.svg.png');

}

.index_hangman_button {
  background-image:url('https://s3.amazonaws.com/iconbros/icons/icon_pngs/000/001/955/original/hangman.png?1560586372');
  /* background-repeat:no-repeat; 
  background-size: contain; */
  background-color: white;
}

.index_minesweeper_button {
  background-image:url('https://lh3.googleusercontent.com/fw6TqxQqPURxfVX6Pja9YVNmbNTE4-iYDD_DUJzCC-QOhVxUhSvbUA4_YFE9VtQNlLI');
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMmTg-te1XGePmWehsZqtCu_2hgrjVWJF5qaUWhjnvtPcioXYFUg&s');
  
  /* background-repeat:no-repeat; 
  background-size: contain; */
  /* background-color: white; */
}



.game {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* Sudoku */

.sudoku_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sudoku_button  {
  margin: 20px;
}

.sudoku_cells {
  width: 720px;
  height: 720px;
  margin: 20px;
}


.cell {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #fff;
  font-size:50px;
  text-align:center;
  /* display: table-cell; */
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align:middle;
  border:1px solid black;
}
.cell_input {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #fff;
  font-size:50px;
  text-align:center;
  /* display: table-cell; */
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align:middle;
  border:1px solid black;
}

.conflict {
  background-color: lightpink;
}

.victory {
  background-color: green;
}

.col3, .col6 {
  border-right-width: thick;
}
.row3, .row6 {
  border-bottom-width: thick;
}

.conflict {
  background-color: lightpink;
}

/* hangman */

.alphabetBox {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.letter {
  margin: 5px;
  min-width: 50px;
  height: 50px;
  font-size: 35px;
}

.game {
  display: flex;
  flex-direction: row;
}

.gameLeft {
  display: flex;
  flex-direction: row;
  margin: 0 30px 0 0;
  /* max-width: 120 px; */
}

.gameRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* max-width: 120 px; */
}

.guessLetters {
  display: flex;
  flex-direction: row;
  width: 20 px;
  justify-content: center;
  align-items: flex-end;
  height: 300px;
}

.utilityArea {
  height: 140px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.resetButton {
  margin: 0 0 0 20px;
}


.letterDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  /* padding: 0em 2em; */
  width: 65px; 
  height: 65px;
}

.guessLetter {
  background-color: grey;
  /* padding: 20em; */
  width: 75px; 
  height: 75px;
  margin: 3px; 
  display: flex;
  align-items: center;
  justify-content: center;
  border: black;
  border-bottom-style: solid;
  border-width: 5px;
}

/* Minesweeper */

.minesweeper_cells_9x9 {
  width: 360px;
  height: 360px;
  margin: 20px;
}

.minesweeper_cells_16x16 {
  width: 640px;
  height: 640px;
  margin: 20px;
}

.minesweeper_cells_24x24 {
  width: 960px;
  height: 960px;
  margin: 20px;
}

.minesweeper_cell {
  float: left;
  width: 40px;
  height: 40px;
  background-color: #BFBFBF;
  font-size:50px;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align:middle;
  border-bottom: 2px solid #7B7B7B;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #7B7B7B;
}

p:hover {
  cursor: default;
}

.revealed_cell {
  border-bottom: none;
  border-left: none;
  border-top: none;
  border-right: none;
  /* border:  */
  border-width: .25px;
  border-style: solid;
  border-color: grey;
}

.killer_mine {
  background-color: red;
}

/* button {
  font-family: 'MS Sans Serif';
  text-align: left;
  font-size: 14px;
  height: 30px;
  width: 100px;
  background-color: #BFBFBF;
  color: black;
  border-bottom: 2px solid #7B7B7B;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #7B7B7B;
}

button:hover {
  background-color: lightgray;
  color: slategray;
  cursor: pointer;
} */

.minesweeper_cell_input {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #fff;
  font-size:50px;
  text-align:center;
  /* display: table-cell; */
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align:middle;
  border:1px solid black;
}
