<%- include("../partials/header") %>
<div>
  <h1>Amazon</h1>
  <p>Welcome to <%= title %></p>    
</div>
<div class="game">
  <!-- White King
    Unicode : U+2654
    HTML Code : &#9812;
  Black King
    Unicode : U+265A
    HTML Code : &#9818;
  White Queen
    Unicode : U+2655
    HTML Code : &#9813;
  Black Queen 
    Unicode : U+265B
    HTML Code : &#9819;
  White Rock
    Unicode : U+2656
    HTML Code : &#9814;
  Black Rock
    Unicode : U+265C
    HTML Code : &#9820;
  White Bishop
    Unicode : U+2657
    HTML Code : &#9815;
  Blacks Bishop  
    Unicode : U+265D
    HTML Code : &#9821;
  White Knight
    Unicode : U+2658
    HTML Code : &#9816;
  Black Knight
    Unicode : U+265E
    HTML Code : &#9822;
  White Pawn
    Unicode : U+2659
    HTML Code : &#9817;
  Black Pawn
    Unicode : U+265F
    HTML Code : &#9823; -->
    
  <div class="chessboard">
    <!-- 1st -->
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <!-- 2nd -->
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <!-- 3th -->
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <!-- 4st -->
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <!-- 5th -->
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <!-- 6th -->
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <!-- 7th -->
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <!-- 8th -->
    <div class="black">&#9812;</div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
  </div>
</div>
 
<%- include("../partials/footer") %>