<%- include("../partials/header") %>

<div class="game_buttons">
  <a href="/games/sudoku">      
    <div id="sudoku" class="game_button index_sudoku_button">
      <h3>Sudoku</h3>                                    
    </div>
  </a> 
     
  <a href="/games/hangman">      
    <div id="hangman" class="game_button index_hangman_button">
      <h3>Hangman</h3>                                    
    </div>
  </a> 
  
  <a href="/games/minesweeper">      
    <div id="minesweeper" class="game_button index_minesweeper_button">
      <div class="stacked_index_button_label">
        <h3>Mine</h3> 
        <h3>sweeper</h3>          
      </div>                
    </div>
  </a>   
</div>

<%- include("../partials/footer") %>