<%- include("../partials/header") %>
  <div class="game_buttons">
    <a href="/games/sudoku">      
      <div id="sudoku" class="game_button sudoku_button">
        <h3>Sudoku</h3>                                    
      </div>
    </a>     
  </div>
<%- include("../partials/footer") %>