<%- include("../partials/header") %>

<h5>Minesweeper</h5>
<div class="minesweeper_buttons">
  <div>
    <a href="/games/minesweeper">
      <button>New Game</button>
    </a>
  </div>
</div>
<div class="minesweeper_cells">

</div>

<script src="/javascripts/minesweeper.js"></script>
  
<%- include("../partials/footer") %>