<%- include("../partials/header") %>

<div class="minesweeper_container">
  <h5>Minesweeper</h5>
  <div class="minesweeper_buttons">
    <div>
      <a href="/games/minesweeper">
        <button>New Game</button>
      </a>
    </div>
  </div>
  <div class="score"></div>
  <div class="minesweeper_cells">

  </div>  
</div>

<script src="/javascripts/minesweeper.js"></script>
  
<%- include("../partials/footer") %>